*{
    margin: 0;
    padding: 0;
}
.main{
    width: 100%;
    background: linear-gradient(to top,rgba(0,0,0,0.5)50%,rgba(0,0,0,0.5)50%),url(./image/health\ care2.jpg);
    background-position: center;
    background-size:cover;
    height: 109vh;
}

.icon{
    width: 200px;
    float: left;
    height: 70px;
}
.logo{
    color:#009688;
    font-size: 30px;
    font-family: Arial;
    padding-left: 20px;
    float: left;
    padding-top:10px;
}

.navbar{
    width: 1200px; 
    height: 75px;
    margin: auto;
}

.menu{
    width: 400px;
    float: left;
    height: 70px;
}
.navbar ul{
    float: left;
    display: flex;
    justify-content: center;
    align-items: center;
}
.navbar ul li{
    list-style: none;
    font-size: 16px;
    display: inline-block;
    position: relative;
    margin-left: 62px;
    margin-top: 27px;
}

.navbar ul li a{
    text-decoration: none;
    color:white;
    font-family: Arial;
    font-weight: bold;
    transition: 0.3s ease-in-out;
}

ul li a:hover{
    color:#009688;
}

.search{
    width:330px;
    float: left;
    margin-left: 270px;
}

.srch{
    font-family: 'Times New Roman';
    width: 200px;
    height: 40px;
    background: transparent;
    border: 1px solid #009688;
    margin-top: 13px;
    color:white;
    border-right: none;
    font-size: 16px;
    float: left;
    padding: 10px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
}

.btn{
    width:100px;
    height:40px;
    background: #009688;
    border: 2px solid #009688;
    margin-top: 13px;
    color: white;
    font-size: 15px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
}

.btn:focus{
    outline: none;
}

.srch:focus{
    outline: none;
}

.hero{
    width:1200px;
    height:auto;
    margin: auto;
    color: white;
    position: relative;
}

.hero .par{
    padding-left: 20px;
    padding-bottom: 25px;
    font-family:Arial;
    letter-spacing:1.2px;
    line-height: 30px;
}

.hero h1{
    font-family: 'Times New Roman';
    font-size: 50px;
    padding-top: 20px;
    margin-top: 10%;
    letter-spacing: 2px;
}

hr{
    width: 50%;
    border: 1px solid #009688;
}

.hero .cn{
    width: 160px;
    height: 40px;
    background:#009688 ;
    border: none;
    margin-bottom: 10px;
    margin-left: 20px;
    font-size:14px;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s ease;
}

.hero .cn a{
    text-decoration: none;
    color:black;
    transition: 0.3s ease;
}

.cn:hover{
    background-color:white;
}

.hero span{
    color:#009688;
    font-size: 60px;
}

.form{
    width: 250px;
    height: 380px;
    background: (to top,rgba(0,0,0,0.8)50%,rgba(0,0,0,0.8)50%);
    position: absolute;
    top: -20px;
    left: 870px;
    border-radius: 10px;
    padding: 25px;
    border: 1px solid rgb(141, 139, 139);
}

.form h2{
    width:230px;
    font-family:sans-serif;
    text-align: center;
    color: black;
    font-size: 22px;
    background-color: white;
    border-radius: 10px;
    margin: 2px;
    padding: 8px;
}

.form input{
    width: 240px;
    height: 35px;
    background:transparent;
    border-bottom: 1px solid #009688;
    border-top:none;
    border-right:none;
    border-left: none;
    color:white;
    font-size: 15px;
    letter-spacing: 1px;
    margin-top: 30px;
    font-family:sans-serif;
}

.form:focus{
    outline: none;
}

::placeholder{
    color: white;
    font-family: Arial;
}

.bton{
width: 240px;
height: 40px;
background: #009688;
border: none;
margin-top: 30px;
font-size: 18px;
border-radius: 10px;
cursor: pointer;
color:white;
transition: 0.3s ease;
}

.bton:hover{
    background: white;
    color:#009688;
}

.bton a{
    text-decoration: none;
    color: #000;
    font-weight: bold;
}

.form .link{
    font-family: 'Times New Roman', Times, serif;
    font-size:18px ;
    padding-top: 20px;
    text-align: center;
}

.form .link a{
    text-decoration: none;
    color: #009688;
}

.log{
    padding-top:15px;
    padding-bottom:10px ;
    text-align: center;
}

.social-icon a{
    text-decoration: none;
    color:white;

}

.social-icon i{
    color: white;
    font-size: 25px;
    padding-left: 20px;
    padding-top: 5px;
}

span{
    color: white;
}